/* General */
* {
  box-sizing: border-box;
}
html,
body {
  --border-radius: 100px;
  --padding: 3.125vw;
  margin: 0;
  padding: 0;
  background-color: black;
  color: aliceblue;
  font-size: 20px;
  font-family: sans-serif;
}
h1 {
  font-size: 80px;
  margin: 0px;
}
h2 {
  font-size: 60px;
  margin: 0px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
section {
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh -100px); /*vh son las unidades relativas al viewheight*/
  top: 100px;
  z-index: 2;
}
section.sticky {
  position: sticky;
  margin-top: 100px;
}
section.full-screen {
  height: 100vh;
  top: 0;
  margin-top: 0;
  z-index: 3;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  font-size: 20px;
  z-index: 1;
}
nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  margin-left: 45px;
}
nav ul li a {
  color: #ffffff;
  font-family: monospace;
}

/* About */
section.about .empty {
  flex-basis: 37.5vw;
  background: #e5e5e5;
  border-radius: var(--border-radius); /*Se pueden usar variables*/
}
section.about article {
  flex: 1;
  display: flex;
  flex-direction: column;
}
section.about article .title {
  flex: 2;
  display: flex;
  align-items: flex-end;
  background: #1c47ff;
  border-radius: var(--border-radius);
  padding: var(--padding);
}
section.about article .description {
  flex: 1;
  display: flex;
  align-items: center;
  background: #d6a3fb;
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: #000000;
}

/* Service */
section.service article {
  display: flex;
  width: 100%;
}
section.service figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 56.25vw;
  margin: 0;
  background: #d0ff94;
  border-radius: var(--border-radius);
}
section.service figure img {
  width: 50%;
}
section.service .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background: #3b3336;
  padding: var(--padding);
  border-radius: var(--border-radius);
}
section.service .text a {
  font-family: monospace;
}

/* service section overrides */
section.service.service-game figure {
  background: #d0ff94;
}
section.service.service-game .text h2,
section.service.service-game .text a {
  color: #d6a3fb;
}
section.service.service-photo figure {
  background: #1c47ff;
}
section.service.service-photo .text h2,
section.service.service-photo .text a {
  color: #d0ff94;
}
section.service.service-blender figure {
  background: #d6a3fb;
}
section.service.service-blender .text h2,
section.service.service-blender .text a {
  color: #1c47ff;
}

/* Contact */
section.contact {
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1c47ff, #d0ff94 20%, #d6a3fb 70%, #e5e5e5);
  border-radius: var(--border-radius);
}
section.contact a {
  font-size: 100px;
  font-weight: bold;
  color: #000000;
}

/* Mobile Responsive */
@media only screen and (max-width: 760px) {
  html,
  body {
    background-color: red;
    --border-radius: 50px;
    --padding: 4.8vw;
  }
  h1 {
    font-size: 60px;
  }
  h1 {
    font-size: 40px;
  }
  nav ul li {
    margin-left: 25px;
  }

  section.service article {
    flex-direction: column;
  }
  section.service figure {
    flex-basis: 25vh;
  }
  section.service figure img {
    width: 20%;
  }
  
  section.contact a {
    font-size: 50px;
    /*transform: rotate(90deg);*/
  }
}
