body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h1 {
    font-size: 4em;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #9d50bb, #6e48aa);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #ff7139;
    font-size: 1.8em;
}

p {
    line-height: 1.6;
    font-size: 1.1em;
}

.project-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #171ac3;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #c3175f;
    cursor: pointer;
    margin: 10px 0;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%) rotate(40deg);
    background: #9b4b98;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #ff6f61;
}

.more-button {
    border: 2px solid #ff6f61;
    color: #ff6f61;
    font-style: oblique;
}

.more-button a:visited {
    color: #ffffff;
}

.more-button::before {
    background: #ff6f61;
}
